@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Quando não existe a fonte no computador, pode baixar no google.fonts e importar no arquivo CSS */


/* formatação pela class 
.titulo {

    font-size: 76px;

} */

/* formatação pelo id
#meutitulo {

    font-size: 76px;

} */
 
/* formatação pela tag */
h1 {

    font-size: 76px;
    font-family: inter;

} 

